<!DOCTYPE html>
	<html lang="de">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/dig-manu-studies">Home</a></li>
		        	<li><a href="/dig-manu-studies/Kurs">Kurs</a></li>
	        		<li><a href="/dig-manu-studies/Studierendenprojekte">Studierendenprojekte</a></li>
	        			    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/pieckh/dig-manu-studies" target="_blank">github.com/pieckh/dig-manu-studies</a></li>
                    <li><a href="/dig-manu-studies/Impressum">Impressum und Datenschutz</a></li>
				<li>Webiste erstellt von Pia Eckhart 2021-04-05</li>
				<li>Letzte Änderung 2021-04-05</li>
				</ul>
			</footer>
		</body>
	</html>
